.front {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  z-index: 0;
  overflow: hidden;
}

.front h1 {
  font-size: 4rem;
  font-family: 'Anton', sans-serif;
  letter-spacing: 15px;
  color: #F7F4F2;
  z-index: 10;
  width: 80%;
}

.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  width: 100%;
  border-bottom: 2px solid black;
  background-color: #F7F4F2;
  z-index: 2;
  text-align: center;
}

.lead h1 {
  font-size: 50px;
  margin: 50px 0;
  font-family: 'Anton', sans-serif;
  letter-spacing: 15px;
}

.lead p {
  font-family: 'Playfair Display', serif;
  font-size: 24px;
  letter-spacing: 1px;
  text-align: center;
  margin: 20px;
}

.lead a, .info a {
  margin-top: 50px;
  font-family: 'Anton', sans-serif;
  letter-spacing: 5px;
}

.info {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #F7F4F2;
  z-index: 2;
  padding: 20px 0;
  border-bottom: 2px solid black;
}

.infoLeft, .infoRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 80vh;
  width: 50%;
}

.infoLeft {
  border-right: 2px solid #222; 
}

.infoTitle {
  font-family: 'Playfair Display', serif;
  letter-spacing: 1px;
}

.infoHeader {
  font-family: 'Anton', sans-serif;
  font-size: 24px;
  letter-spacing: 10px;
  margin: 50px;
}

.infoPicture {
  flex-grow: 1;
  min-height: 100%;
  width: 80%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.infoDescription {
  font-family: 'Playfair Display', serif;
  text-align: center;
  width: 80%;
  line-height: 45px;
  letter-spacing: 1px;
  margin-top: 50px;
}

.news {
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #fa9200;
  z-index: 2;
  padding: 20px 0;
  border-bottom: 2px solid black;
}

.newsMap {
  min-height: 40vh;
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.newsMap h4 {
  font-family: 'Anton', sans-serif;
  font-size: 24px;
  letter-spacing: 3px;
  margin-top: 50px;
}

.newsMiddle, .newsRight {
  min-height: 0vh;
  display: flex;
  width: 25%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-left: 2px solid black;
}

.newsItem {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
}

.newsItem h4 {
  font-family: 'Anton', sans-serif;
  font-size: 1.2rem;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.newsItem p {
  font-family: 'Playfair Display', serif;
  font-size: 0.9rem;
  letter-spacing: 1.5px;
}