.containerMenu {
  font-size: 24px;
  font-family: 'Anton', sans-serif;
  padding: 10%;
  letter-spacing: 1px;
  border-bottom: 2px solid black;
}

.containerMenu h1 {
  font-size: 2em;
}


.menuLead {
  font-size: 0.8em;
  padding: 10px;
  margin: 100px 0;
  font-family: 'Playfair Display', serif;
}

.menuFood {
  line-height: 45px;
}

.menuTitle {
  font-size: 1.2em;
  margin: 40px 0;
  text-transform: uppercase;
}

.menuFood p {
  font-family: 'Playfair Display', serif;
  font-size: 0.6em;
  margin: 20px;
}

